<h1>Project: <%= @project.title %></h1>
<h3><%= link_to "Edit this project", edit_project_path %></h3>
<h3>Researcher: <%= link_to @project.researcher.name, researcher_path(@project.researcher) %></h3>
<h3>Description</h3>
<p> <%= @project.description %> </p>
<%= link_to "Add a new text", new_project_text_path(@project) %><br>
<%= link_to "Add a new note with text", new_project_note_path(@project) %><br>
<%= link_to "Display all notes for project", project_notes_path(@project) %>
<h3>Texts</h3>
<% @project.texts.uniq.each do |text| %>
  <h3><%= link_to text.title, text_path(text) %></h3>
  <p>by <%= text.author.name %></p>
  <p>Note: <%= text.note(@project).content %></p>
  <%= link_to "edit note", edit_project_note_path(@project, text.note(@project)) %>
  <hr>
<% end %>
